### 대한민국 전체 위도 경도 코드

In [40]:
import pandas as pd
import json

raw = pd.read_csv("location.csv")
raw

    do-si    sgg         lon        lat
0      강원    강릉시  128.878497  37.749136
1      강원    고성군  128.470164  38.377961
2      강원    동해시  129.116633  37.521931
3      강원    삼척시  129.167489  37.447086
4      강원    속초시  128.594167  38.204275
..    ...    ...         ...        ...
290    충청    충주시  127.928144  36.988181
291    충청    태안군  126.299975  36.742667
292    충청  한누리대로  127.289926  36.485450
293    충청    홍성군  126.662908  36.598361
294    충청    대전시  127.384862  36.350629

[295 rows x 4 columns]

In [38]:
json_list = []

for index, row in raw.iterrows():
    data = {
        "models": "raw.location",
        "pk" : index+1,
        "fields":{
            "do_si": row["do-si"],
            "sgg": row["sgg"],
            "lon": str(row["lon"]),
            "lat": str(row["lat"])
        }
    }

    json_list.append(data)

In [39]:
with open("raw_location.json", "w") as json_file:
    json.dump(json_list, json_file, ensure_ascii=False, indent="\t")